<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:true,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-vertical-split-panel split-position="49.1%" _id="shiftPanel" :middle :center :expand>
    <vaadin-vertical-layout spacing="false" size-full margin="false">
     <vaadin-grid caption="原单位" size-full data-item-type="com.lt.css.shiftShp.entity.EmployeeDto" _id="fromShiftShp" :middle :center :expand>
      <table>
       <colgroup>
        <col column-id="id" sortable>
        <col column-id="name" sortable>
        <col column-id="title" sortable>
        <col column-id="day1" sortable>
        <col column-id="day2" sortable>
        <col column-id="day3" sortable>
        <col column-id="day4" sortable>
        <col column-id="day5" sortable>
        <col column-id="day6" sortable>
        <col column-id="day7" sortable>
        <col column-id="day8" sortable>
        <col column-id="day9" sortable>
        <col column-id="day10" sortable>
        <col column-id="day11" sortable>
        <col column-id="day12" sortable>
        <col column-id="day13" sortable>
        <col column-id="day14" sortable>
        <col column-id="day15" sortable>
        <col column-id="day16" sortable>
        <col column-id="day17" sortable>
        <col column-id="day18" sortable>
        <col column-id="day19" sortable>
        <col column-id="day20" sortable>
        <col column-id="day21" sortable>
        <col column-id="day22" sortable>
        <col column-id="day23" sortable>
        <col column-id="day24" sortable>
        <col column-id="day25" sortable>
        <col column-id="day26" sortable>
        <col column-id="day27" sortable>
        <col column-id="day28" sortable>
        <col column-id="day29" sortable>
        <col column-id="day30" sortable>
        <col column-id="day31" sortable>
       </colgroup>
       <thead>
        <tr default>
         <th plain-text column-ids="id">Id</th>
         <th plain-text column-ids="name">Name</th>
         <th plain-text column-ids="title">Title</th>
         <th plain-text column-ids="day1">Day1</th>
         <th plain-text column-ids="day2">Day2</th>
         <th plain-text column-ids="day3">Day3</th>
         <th plain-text column-ids="day4">Day4</th>
         <th plain-text column-ids="day5">Day5</th>
         <th plain-text column-ids="day6">Day6</th>
         <th plain-text column-ids="day7">Day7</th>
         <th plain-text column-ids="day8">Day8</th>
         <th plain-text column-ids="day9">Day9</th>
         <th plain-text column-ids="day10">Day10</th>
         <th plain-text column-ids="day11">Day11</th>
         <th plain-text column-ids="day12">Day12</th>
         <th plain-text column-ids="day13">Day13</th>
         <th plain-text column-ids="day14">Day14</th>
         <th plain-text column-ids="day15">Day15</th>
         <th plain-text column-ids="day16">Day16</th>
         <th plain-text column-ids="day17">Day17</th>
         <th plain-text column-ids="day18">Day18</th>
         <th plain-text column-ids="day19">Day19</th>
         <th plain-text column-ids="day20">Day20</th>
         <th plain-text column-ids="day21">Day21</th>
         <th plain-text column-ids="day22">Day22</th>
         <th plain-text column-ids="day23">Day23</th>
         <th plain-text column-ids="day24">Day24</th>
         <th plain-text column-ids="day25">Day25</th>
         <th plain-text column-ids="day26">Day26</th>
         <th plain-text column-ids="day27">Day27</th>
         <th plain-text column-ids="day28">Day28</th>
         <th plain-text column-ids="day29">Day29</th>
         <th plain-text column-ids="day30">Day30</th>
         <th plain-text column-ids="day31">Day31</th>
        </tr>
       </thead>
       <tbody></tbody>
      </table>
     </vaadin-grid>
    </vaadin-vertical-layout>
    <vaadin-vertical-layout spacing="false" size-full margin="false">
     <vaadin-grid caption="调往工作单位" size-full data-item-type="com.lt.css.shiftShp.entity.EmployeeDto" _id="toShiftShp" :middle :center :expand>
      <table>
       <colgroup>
        <col column-id="id" sortable>
        <col column-id="name" sortable>
        <col column-id="title" sortable>
        <col column-id="day1" sortable>
        <col column-id="day2" sortable>
        <col column-id="day3" sortable>
        <col column-id="day4" sortable>
        <col column-id="day5" sortable>
        <col column-id="day6" sortable>
        <col column-id="day7" sortable>
        <col column-id="day8" sortable>
        <col column-id="day9" sortable>
        <col column-id="day10" sortable>
        <col column-id="day11" sortable>
        <col column-id="day12" sortable>
        <col column-id="day13" sortable>
        <col column-id="day14" sortable>
        <col column-id="day15" sortable>
        <col column-id="day16" sortable>
        <col column-id="day17" sortable>
        <col column-id="day18" sortable>
        <col column-id="day19" sortable>
        <col column-id="day20" sortable>
        <col column-id="day21" sortable>
        <col column-id="day22" sortable>
        <col column-id="day23" sortable>
        <col column-id="day24" sortable>
        <col column-id="day25" sortable>
        <col column-id="day26" sortable>
        <col column-id="day27" sortable>
        <col column-id="day28" sortable>
        <col column-id="day29" sortable>
        <col column-id="day30" sortable>
        <col column-id="day31" sortable>
       </colgroup>
       <thead>
        <tr default>
         <th plain-text column-ids="id">Id</th>
         <th plain-text column-ids="name">Name</th>
         <th plain-text column-ids="title">Title</th>
         <th plain-text column-ids="day1">Day1</th>
         <th plain-text column-ids="day2">Day2</th>
         <th plain-text column-ids="day3">Day3</th>
         <th plain-text column-ids="day4">Day4</th>
         <th plain-text column-ids="day5">Day5</th>
         <th plain-text column-ids="day6">Day6</th>
         <th plain-text column-ids="day7">Day7</th>
         <th plain-text column-ids="day8">Day8</th>
         <th plain-text column-ids="day9">Day9</th>
         <th plain-text column-ids="day10">Day10</th>
         <th plain-text column-ids="day11">Day11</th>
         <th plain-text column-ids="day12">Day12</th>
         <th plain-text column-ids="day13">Day13</th>
         <th plain-text column-ids="day14">Day14</th>
         <th plain-text column-ids="day15">Day15</th>
         <th plain-text column-ids="day16">Day16</th>
         <th plain-text column-ids="day17">Day17</th>
         <th plain-text column-ids="day18">Day18</th>
         <th plain-text column-ids="day19">Day19</th>
         <th plain-text column-ids="day20">Day20</th>
         <th plain-text column-ids="day21">Day21</th>
         <th plain-text column-ids="day22">Day22</th>
         <th plain-text column-ids="day23">Day23</th>
         <th plain-text column-ids="day24">Day24</th>
         <th plain-text column-ids="day25">Day25</th>
         <th plain-text column-ids="day26">Day26</th>
         <th plain-text column-ids="day27">Day27</th>
         <th plain-text column-ids="day28">Day28</th>
         <th plain-text column-ids="day29">Day29</th>
         <th plain-text column-ids="day30">Day30</th>
         <th plain-text column-ids="day31">Day31</th>
        </tr>
       </thead>
       <tbody></tbody>
      </table>
     </vaadin-grid>
    </vaadin-vertical-layout>
   </vaadin-vertical-split-panel>
  </vaadin-vertical-layout>
 </body>
</html>